.project-wrap {

height: 100%;
}
.projec-image{

    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative

}
.projec-image img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    display: block;
}