@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');

.main-font{
   font-family: "JetBrains Mono", monospace;
   font-size: 14px;

}
.p-font{
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
  font-weight: lighter;


}
.card-back-sub{
  font-family: "Sassy Frass", cursive; 
  font-size: 30px;
}
.backcard-font-color{
  @apply text-gray-400;
}
.test{
    @apply bg-green-400;
}
.flip-container {
    perspective: 1000px; /* Adds a 3D effect */
  }
  .flip-box {
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; /* Smooth flip effect */
  }
  .group:hover .flip-box {
  transform: rotateX(180deg); /* Flips only when hovered */
  }
  .flip-box .front, .flip-box .back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
  }
  .flip-box .back {
  transform: rotateY(180deg); /* Back side starts flipped */
  }
  .featured-box-shape{
    clip-path: polygon(0% 0%,30% 0%, 80% 60%,  0% 100%,  20% 4%, 100% 4%, 100% 100%, 0% 100%);

  }
  .box-clip-second{
    clip-path: polygon(32% 6%, 60% 6%, 64% 9.5%, 100% 9.5%, 100% 100%, 50% 100%, 0 99%, 0 44%, 0 10%, 32% 10%);
  }
  .box-clip-thired{
    clip-path: polygon(62% 6%, 88% 6%, 92% 9.5%, 100% 9.5%, 100% 100%, 50% 100%, 0 100%, 0 54%, 0 10%, 62% 9.5%);
  }
  .featured-title-font{
    font-family: "IBM Plex Serif", serif; 
    font-size: 52px;
  }
.Archive-box{
  display: grid ;
  grid-template-columns: repeat(6, 12fr);
  margin-left: 20px;

  
}
.archive-item{
  border: 1px dotted;
  width:300px;
  height: 300px;

}
.achive{
margin-top: 100px;
}
.image-archive{
  object-fit: cover;
  height: 100%;
}
.main-container{
  max-width: 1600px;
  width: 100%;
  padding: 15px 15px;
  margin: auto;
}
#navbar{
  display: flex;
 position: fixed;
  justify-content: space-between;
}
.nav-coantainer{
  max-width: 1400px;
  width: 100%;
  padding: 22px 22px;
  margin: auto;
}
.archive-coantainer{
  max-width: 1200px;
  width: 100%;
  padding: 22px 22px;
  margin: auto;
}
.footer{
  background-color: rgb(29, 29, 29);

}
.footer-title a{
  display: inline-flex;
      gap: 40px;
      align-items: center;
      align-content: center;
      text-decoration: none;
}
     
.footer-title a p{
  font-size: 20px;
  display: flex;
  align-items: center;

}
.footer-title a h1{
  font-size: 50px;
  display: flex;
  align-items: center;

}
.navbar{
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header-list li{
  text-decoration: none;
}
li a{
   text-decoration: none;
     color: gray;
}
.banner-section{
  height: 100%;
  top: 0px;
}
.logo{
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
     padding-left: 25px;
   gap: 3px;
}
.logo-name{
 font-size: 13px;
 font-weight: medium;

}
.logo-address{
 font-size: 9px;
 font-weight: lighter;
}

.nav-list{
   display: flex;
   max-width: 1600px;
   width: 100%;
   gap: 10;
   position: fixed;
   margin-top: 745px;
   justify-content: center;
   font-size: 12px;
   align-content: center;
 

}
 .header-list{
   text-decoration: none;
   text-transform: uppercase;
   display: flex;
   list-style: none;
   gap: 60px;
   font-weight: lighter;
   color: rgb(9, 8, 8);
   
}

.archive-coantainer{
  background-color: black;
}
.Socialmedia{
  display: flex;
  gap: 10px;
  list-style-type:none;
  padding-right: 40px;
  line-height: 1px;
  
  
}

.icon{
  color: white;
 
}

.social-section{
line-height: 1px;
margin: 0px;
padding: 0px;
}
.Banner-section{
  color: white;
  max-width: 1600px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  font-size: 200px;
  text-transform: uppercase;
}
.sub-heading{
  font-size: 40px;
  color: gray;
}
