@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');

.main-font{
   font-family: "JetBrains Mono", monospace;
   font-size: 14px;

}
.p-font{
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
  font-weight: lighter;


}
.hole{
  @apply border rounded-full h-3 w-3;
}
.square-box{
  @apply border  h-2 w-2 bg-black;

}
.card-tittle{
  font-family: "IBM Plex Serif", serif;
  font-size: 75px;
  padding: 9px;

}
.card-back-sub{
  font-family: "Sassy Frass", cursive; 
  font-size: 30px;

}
.card-sub{
  font-family: "Sassy Frass", cursive; 
  font-size: 55px;
}
.backcard-font-color{
  @apply text-gray-400;
}
.test{
    @apply bg-green-400;
}
.flip-container {
    perspective: 1000px; /* Adds a 3D effect */
  }
  .flip-box {
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out; /* Smooth flip effect */
  }
  .group:hover .flip-box {
  transform: rotateX(180deg); /* Flips only when hovered */
  }
  .flip-box .front, .flip-box .back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
  }
  .flip-box .back {
  transform: rotateY(180deg); /* Back side starts flipped */
  }
  

  .b{
    @apply border;
  }
  .border-left{
    @apply border-dotted border-l border-[3px] border-black;
  }
  .border-right{
    @apply border-dotted border-r border-black ;
  }
  .border-top{
    @apply border-dotted border-t border-black;
  }
  .border-b{
    @apply border-dotted border-b border-black;
  }


  .back-border-left{
    @apply border-dotted border-l  border-gray-500;
  }
  .back-border-right{
    @apply border-dotted border-r border-gray-500;
  }
  .back-border-top{
    @apply border-dotted border-t border-gray-500;
  }
  .back-border-b{
    @apply border-dotted border-b border-gray-500;
  }
  .back-border{
    @apply border-dotted border-t border-b border-gray-500;

  }


  .featured-box-shape{
    clip-path: polygon(0% 0%,30% 0%, 80% 60%,  0% 100%,  20% 4%, 100% 4%, 100% 100%, 0% 100%);

  }
  .box-clip-second{
    clip-path: polygon(32% 6%, 60% 6%, 64% 9.5%, 100% 9.5%, 100% 100%, 50% 100%, 0 99%, 0 44%, 0 10%, 32% 10%);
  }
  .box-clip-thired{
    clip-path: polygon(62% 6%, 88% 6%, 92% 9.5%, 100% 9.5%, 100% 100%, 50% 100%, 0 100%, 0 54%, 0 10%, 62% 9.5%);
  }
  .featured-title-font{
    font-family: "IBM Plex Serif", serif; 
    font-size: 52px;
  }
.Archive-box{
  display: grid ;
  grid-template-columns: repeat(6, 12fr);
  margin-left: 20px;

  
}
.archive-item{
  border: 1px dotted;
  width:300px;
  height: 300px;

}
.achive{
margin-top: 100px;
}
.image-archive{
  object-fit: cover;
  height: 100%;
}
.main-container{
  max-width: 1600px;
  width: 100%;
  padding: 15px 15px;
  margin: auto;
}
#navbar{
  display: flex;
  justify-content: space-between;
}
.nav-coantainer{
  max-width: 1400px;
  width: 100%;
  padding: 22px 22px;
  margin: auto;
}
.archive-coantainer{
  max-width: 1200px;
  width: 100%;
  padding: 22px 22px;
  margin: auto;
}
.footer{
  background-color: rgb(29, 29, 29);

}
.footer-title a{
  display: inline-flex;
      gap: 40px;
      align-items: center;
      align-content: center;
      text-decoration: none;
}
     
.footer-title a p{
  font-size: 20px;
  display: flex;
  align-items: center;

}
.footer-title a h1{
  font-size: 50px;
  display: flex;
  align-items: center;

  color: white; 
}
.navbar{
  background: black;
  color: white;
  display: flex;
}

.header-list{
   text-decoration: none;
  color: white;
  display: fixed;
  z-index: 50;
 text-transform: uppercase;
 font-weight: lighter;
width: 1200px;
align-content: left;
   display: flex;
  justify-content: space-between;
  list-style: none;
 
  

 
}

.header-list li{
  text-decoration: none;
  
}
li a{
   text-decoration: none;
   color:white
}
.banner-section{
  background-color: black;
  height: 100%;

  z-index: 10;
  top: 0px;
}
.logo{
text:white;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
  
   padding: 20px 30px;
   gap: 3px;
}
.logo-name{
 font-size: 14px;
 font-weight: medium;

}
 
.logo-address{
 font-size: 10px;
 font-weight: lighter;


}